* { // this is a reset of our margin and padding
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%; // 62.5% of default vaule which is 16
                      // .625 * 16 = 10px which is our base font size
                      // basically saying that we want everything to be 10px
                      // when we use rem we are saying take the rem num and multiply by ten
                      // i.e., 1.2rem = 1.2*10 = 12px
  }
  
